:host {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;    
    background-color: lightcyan;
}

nav a {
    padding: 10px;
    color: black;
    text-decoration: transparent none;
}

nav a.here {
    background-color: lightblue;
}